<div id="Info" class="tabcontent" style="background-color: white">
  <!-- Active -->
  <h4 style="margin-top: 10px; margin-bottom: 20px">General Info</h4>
  <b>Username</b>: {{ current_user.username }}<br>
  <b>Full Name</b>: {{ current_user.firstName }} {{ current_user.lastName }}<br>
  <b>Email</b>: {{ current_user.email }}<br>
  <script>
    console.log("{{ current_user.ad_country_code }}")
  </script>
  <b>Address</b>: {{ current_user.ad_country }} <i class="famfamfam-flag-{{ current_user.ad_country }}"></i><br>
  <b>Creation Time</b>: {{ current_user.createdAt }}<br>
  <b>Last Logged in</b>: {{ current_user.lastModifiedAt }}<br>
  <b>Active Account</b>:
  {% if current_user.isActive %}
    <i class="fa-fw fa fa-circle text-success"></i>
  {% else %}
    <i class="fa-fw fa fa-circle text-danger"></i>
  {% endif %}
  <br>
  <b>Admin Account</b>: {{ current_user.isAdmin }}<br>
  <script>
    console.log('{{ current_user.userId }}')
  </script>
  <script>
    $.ajax({
      type: "GET",
      dataType: "json",
      headers: {
        Accept: "application/json",
        "Access-Control-Allow-Origin": "*"
      },
      url: '/api/users/{{ current_user.userId }}',
      success: function (data) {
        console.log(data)
      }
    });
  </script>
</div>