<div id="Info" class="tabcontent" style="background-color: white">
  <br>
  <div class="user-container">
    <div class="user-overview-container">
      <div class="card user-overview">
        <img class="card-img-top user-image" src="/static/user.png" alt="user">
        <div class="card-body">
          <h5>{{ current_user.firstName }} {{ current_user.lastName }}</h5>
          {% if not current_user.is_anonymous %}
            {% if current_user.isAdmin %}
              Administrator Account
            {% else %}
              User Account
            {% endif %}
          {% endif %}
          <br>
          <div class="user-account-status">
            Account Status:
            {% if current_user.isActive %}
              <span data-toggle="tooltip" data-placement="right" title="Active Account">
                <i class="fa-fw fa fa-circle text-success"></i>
              </span>
            {% else %}
              <span data-toggle="tooltip" data-placement="right" title="Inactive Account">
                <i class="fa-fw fa fa-circle text-danger"></i>
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="user-info">
      <div class="card user-info-container">
        <ul class="list-group list-group-flush">
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-user"></i> <strong>Username:</strong> {{ current_user.username }}
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-map-marker-alt"></i>
            <strong>Location:</strong> {{ current_user.ad_suburb }}, {{ current_user.ad_state }}
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-envelope"></i> <strong>Email:</strong> {{ current_user.email }}
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-clock"></i> <strong>Member Since:</strong> <span
            class="modify-time">{{ current_user.createdAt }}></span>
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-key"></i> <strong>Last Logged In:</strong> <span
            id="last-logged-in">{{ current_user.lastLogin }}</span> ago.
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-poll"></i> <strong>Polls Created:</strong> {{ polls|length }}
          </li>
          <li class="list-group-item user-info-list">
            <i class="fa-fw fa fa-vote-yea"></i> <strong>Votes Casted:</strong> {# add the votes casted count #}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <script type="text/javascript" src="/static/javascript/format-time.js"></script>
  <script type="text/javascript" src="/static/javascript/last-logged-in.js"></script>
</div>