{% extends "base.html" %}

{% block content %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    Not a member? Click <a style="color: #0c5460" href="{{ url_for('main.register') }}"><strong>here</strong></a> to create an account.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-container">
    <form id="login-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div style="width: 80%">
        <div style="margin-left: 20%">
          <strong>{{ form.username.label }}</strong>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa-fw fa fa-user-tag"></i></span>
            </div>
            {{ form.username(class="form-control", size=32) }}
          </div>
        </div>
        {% for error in form.username.errors %}
          <script>
            var formErrors = {% if error %}true;{% else %} false{% endif %};
            if (formErrors) {
              Notify("Username: {{error}}", null, null, 'danger');
            }
          </script>
          {# <span style="color: red;">[{{ error }}]</span> #}
        {% endfor %}
        <div style="margin-left: 20%">
          <strong>{{ form.password.label }}</strong>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa-fw fa fa-key"></i></span>
            </div>
            {{ form.password(class="form-control", size=32) }}
          </div>
        </div>
        {% for error in form.password.errors %}
          <script>
            var formErrors = {% if error %}true;{% else %} false{% endif %};
            if (formErrors) {
              Notify("Password: {{error}}", null, null, 'danger');
            }
          </script>
        {% endfor %}
        <div style="margin-left: 25%; text-align: center">
          <br>
          {{ form.remember_me() }} {{ form.remember_me.label }}<br>
          {{ form.submit(class_="btn btn-info") }}
        </div>
      </div>
    </form>
  </div>

{% endblock %}