<script>
  $(document).ready(function () {
    $("input[type='search']").css({"border-radius": "5px", "border": "1px solid #ced4da", "color": "#495057"})
  })
</script>

<!-- Tab content -->
<div id="Active" class="tabcontent" style="background-color: white">
  <!-- Active -->
  <h4 style="margin-top: 10px; margin-bottom: 20px">Active Users</h4>

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    All user accounts that are not disabled are listed here.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <table id="table-active" class="display">
    <thead>
    <tr style="text-align: center">
      <th>Name</th>
      <th>Email</th>
      <th>Poll Count</th>
      <th>Response Count</th>
      <th>Admin Account</th>
    </tr>
    </thead>
    <tbody style="text-align: center">
    {% for user in users %}
      {#        <script>#}
      {#         console.log({{ user.howManyPolls()|length }})#}
      {#        </script>#}
      {% if user.isActive == True %}
        <tr>
          <td>{{ user.firstName }} {% if user.lastName %}{{ user.lastName }}{% endif %}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.howManyPolls()|length }}</td>
          <td>{{ user.howManyResponses()|length }}</td>
          <td>
            {% if user.isAdmin %}
              <i class="fa-fw fa fa-circle text-success"></i>
            {% else %}
              <i class="fa-fw fa fa-circle text-danger"></i>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>