.row {
  height: 100%;
}

body {
  background-color: #f2f2f2;
}

.sidebar-button {
  border-radius: 5px;
  color: #212529;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar-button:hover {
  background-color: #B0B0B0;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}

table {
  text-align: center;
}

.list-button {
  color: #212529;
  transition: 0.3s;
}

.list-button:hover {
  color: #177199;
  text-decoration: none;
}

.register-button {
  color: #6c757d;
}

.register-button:hover {
  color: #212529;
  text-decoration: none;
}

.header-title {
  margin-top: 20px;
}

.sidebar {
  background-color: #DCDCDC;
}

.form-container {
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  width: 60%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#login-form {
  margin-top: 30px;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
}