/* Style the tab */
.tab {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #DCDCDC;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  transition: 0.3s;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}