{% extends "base.html" %}

{% block content %}
  {% if poll.isActive %}
    {% if poll.completedAt %}
      <div class="col-md-8" style="margin: 0 auto">
        <div class="card">
          <div class="card-body" style="text-align: center">
            {% if poll.howManyResponses() == 0 %}
              <h3><strong>No Responses Made</strong></h3>
            {% else %}
              <h3>Poll Winner: <strong>{{ poll.get_prefResult(details=false)|last }}</strong></h3>
            {% endif %}
            <br>
            <canvas id="poll-chart-2"></canvas>
          </div>
          <div class="card-body" style="text-align: center; padding-top: 0px">
            <h5><span id="preference-badge" class="badge badge-pill badge-info"
                      style="margin-bottom: 20px">First Preference Votes</span></h5>
            <div class="button-container">
              {% for i in range(poll.Candidate|length) %}
                <button class="preference-button btn btn-light" value="{{ i + 1 }}" type="button"> {{ i + 1 }}</button>
              {% endfor %}
            </div>
          </div>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item"><strong>Description:</strong> {{ poll.description }} </li>
          <li class="list-group-item"><strong>Total Votes Casted:</strong> {{ poll.howManyResponses() }}</li>
          <li class="list-group-item"><strong>Created At:</strong> <span class="modify-time">{{ poll.createdAt }}</span>
          </li>
          <li class="list-group-item"><strong>Completed At:</strong> <span
            class="modify-time">{{ poll.completedAt }}</span></li>
          <li class="list-group-item"><strong>Created By:</strong>
            {% for user in users %}
              {% if user.userId == poll.createdByUserId %}
                {{ user.firstName }} {% if user.lastName %}{{ user.lastName }}{% endif %}
              {% endif %}
            {% endfor %}
          </li>
        </ul>
        <br>
        <a class="btn btn-info" href="{{ url_for('main.completed') }}">
          Back
        </a>
      </div>
      <br>
      <script type="text/javascript" src="/static/javascript/ordinal.js"></script>
      <script type="text/javascript" src="/static/javascript/format-time.js"></script>
      <script>
        let colorArray = ['rgba(255,0,0,0.5)', '#ffe082', '#81d4fa', '#c5e1a5', '#ffcc80', 'rgba(213, 184, 255, 1)',
          'rgba(189, 195, 199, 1)', 'rgba(101, 198, 187, 1)', 'rgba(103, 128, 159, 1)', 'rgba(218, 223, 225, 1)'];
        let ctx = document.getElementById('poll-chart-2').getContext('2d');
        let labels = [];
        let colors = [];

        {% for i in range(poll.Candidate|length) %}
          colors[{{ i }}] = colorArray[{{ i }}];
        {% endfor %}

        let rawResults = {{ poll.get_rawResult() }};

        let kvp = {};
        {% for candidate in poll.Candidate %}
          kvp[{{ candidate.candidateId }}] = "{{ candidate.candidateDescription }}";
        {% endfor %}

        let keys = Object.keys(kvp);

        for (let i = 0; i < keys.length; i++) {
          labels.push(kvp[keys[i]])
        }

        let finalData = [];
        for (let i = 0; i <{{ poll.howManyCandidates() }}; i++) {
          finalData.push([]);
        }
        for (var key in rawResults) {
          for (var key2 in rawResults[key]) {
            finalData[key2 - 1].push(rawResults[key][key2]);
          }
        }

        let myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              label: ['Polls'],
              data: finalData[0],
              backgroundColor: colors,
              borderWidth: 2
            }]
          },
          options: {
            plugins: {
              datalabels: {
                color: '#212529',
                display: function (context) {
                  return context.dataset.data[context.dataIndex] !== 0;
                }
              }
            },
            legend: {
              display: true,
              position: 'bottom'
            }
          }
        });

        function addData(chart, data) {
          chart.data.datasets.forEach((dataset) => {
            dataset.data = data;
          });
          chart.update();
        }

        $("button.preference-button").click(function () {
          addData(myChart, finalData[this.value - 1]);
          document.getElementById('preference-badge').innerText = ordinalInWord(this.value) + " Preference Votes";
        });
      </script>
    {% else %}
      <div class="alert alert-warning"
           role="alert">
        This poll is still live. Click <a style="color: #856404"
                                          href="{{ url_for('main.current') }}/{{ poll.get_id() }}"><strong>here</strong></a>
        to cast a vote.
      </div>
    {% endif %}
  {% else %}
    <div class="alert alert-danger"
         role="alert">
      This poll has been <strong>Archived</strong> by an Administrator.
    </div>
  {% endif %}

{% endblock %}