<div class="card-container">
  <div style="width:23%">
    <div class="card" style="color:#212529; background-color: #ffe082; text-align: center">
      <div class="card-header"><strong>Current Polls</strong></div>
      <div class="card-body">
        <h5 class="card-title">6</h5>
      </div>
    </div>
  </div>
  <div style="width:23%">
    <div class="card" style="color:#212529; background-color: #81d4fa; text-align: center">
      <div class="card-header"><strong>Completed Polls</strong></div>
      <div class="card-body">
        <h5 class="card-title">15</h5>
      </div>
    </div>
  </div>
  <div style="width:23%">
    <div class="card" style="color:#212529; background-color: #c5e1a5; text-align: center">
      <div class="card-header"><strong>Online Users</strong></div>
      <div class="card-body">
        <h5 class="card-title">5</h5>
      </div>
    </div>
  </div>
  <div style="width:23%">
    <div class="card" style="color:#212529; background-color: #ef9a9a; text-align: center">
      <div class="card-header"><strong>All Users</strong></div>
      <div class="card-body">
        <h5 class="card-title">20</h5>
      </div>
    </div>
  </div>
</div>