<div id="Current" class="tabcontent" style="background-color: white">
  {% if poll.isOpenPoll %}
    <div class="col-md-8" style="margin: 20px auto auto auto">
      <div class="card">
        <div class="card-body" style="text-align: center">
          {% if poll.howManyResponses() == 0 %}
            <h3><strong>No Responses Made</strong></h3>
          {% else %}
            <h3>Current Winner: <strong>{{ poll.get_prefResult(details=false)|last }}</strong></h3>
          {% endif %}
          <br>
          <canvas id="poll-chart-2"></canvas>
        </div>
        <div class="card-body" style="text-align: center; padding-top: 0px">
          <h5><span id="preference-badge" class="badge badge-pill badge-info"
                    style="margin-bottom: 20px">First Preference Votes</span></h5>
          <div class="button-container">
            {% for i in range(poll.Candidate|length) %}
              <button class="preference-button btn btn-light" value="{{ i + 1 }}" type="button"> {{ i + 1 }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
      <br>
      <ul class="list-group">
        <li class="list-group-item"><strong>Description:</strong> {{ poll.description }} </li>
        <li class="list-group-item"><strong>Total Votes Casted:</strong> {{ poll.howManyResponses() }}</li>
        <li class="list-group-item"><strong>Created At:</strong> <span class="modify-time">{{ poll.createdAt }}</span>
        </li>
        <li class="list-group-item"><strong>Completed At:</strong>
          {% if poll.completedAt %}
            <span class="modify-time">{{ poll.completedAt }}</span>
          {% else %}
            Poll is still in progress.
          {% endif %}
        </li>
        <li class="list-group-item"><strong>Created By:</strong>
          {% for user in users %}
            {% if user.userId == poll.createdByUserId %}
              {{ user.firstName }} {% if user.lastName %}{{ user.lastName }}{% endif %}
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    </div>
    <br>
    <script type="text/javascript" src="/static/javascript/ordinal.js"></script>
    <script>
      let colorArray = ['rgba(255,0,0,0.5)', '#ffe082', '#81d4fa', '#c5e1a5', '#ffcc80', 'rgba(213, 184, 255, 1)',
        'rgba(189, 195, 199, 1)', 'rgba(101, 198, 187, 1)', 'rgba(103, 128, 159, 1)', 'rgba(218, 223, 225, 1)'];
      let ctx = document.getElementById('poll-chart-2').getContext('2d');
      let labels = [];
      let colors = [];
      {#let data = JSON.parse({{ poll.get_rawResult() }});#}
      {% for i in range(poll.Candidate|length) %}
        colors[{{ i }}] = colorArray[{{ i }}];
      {% endfor %}

      let kvp = {};
      {% for candidate in poll.Candidate %}
        kvp[{{ candidate.candidateId }}] = "{{ candidate.candidateDescription }}";
      {% endfor %}

      let keys = Object.keys(kvp);

      for (let i = 0; i < keys.length; i++) {
        labels.push(kvp[keys[i]])
      }

      let rawResults = {{ poll.get_rawResult() }};
      let finalData = [];
      for (let i = 0; i <{{ poll.howManyCandidates() }}; i++) {
        finalData.push([]);
      }
      for (var key in rawResults) {
        for (var key2 in rawResults[key]) {
          finalData[key2 - 1].push(rawResults[key][key2]);
        }
      }

      let myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            label: ['Polls'],
            data: finalData[0],
            backgroundColor: colors,
            borderWidth: 2
          }]
        },
        options: {
          plugins: {
            datalabels: {
              color: '#212529',
              display: function (context) {
                return context.dataset.data[context.dataIndex] !== 0;
              }
            }
          },
          legend: {
            display: true,
            position: 'bottom'
          }
        }
      });

      function addData(chart, data) {
        chart.data.datasets.forEach((dataset) => {
          dataset.data = data;
        });
        chart.update();
      }

      $("button.preference-button").click(function () {
        addData(myChart, finalData[this.value - 1]);
        document.getElementById('preference-badge').innerText = ordinalInWord(this.value) + " Preference Votes";
      });
    </script>
  {% else %}
    <div class="alert alert-warning"
         role="alert" style="margin-top: 20px">
      This poll is a <strong>Closed Poll</strong>. The creator has not allowed other people to view current standings
      until completion.
    </div>
  {% endif %}
</div>