<html>

<head>
  {% include "components/imports.html" %}
  <title>Fishing App - {% block title %}{{ title }}{% endblock %}</title>
</head>

<body>
<!-- https://stackoverflow.com/questions/40497288/how-to-create-a-fixed-sidebar-layout-with-bootstrap-4 -->
<div id="notifications"></div>
<div class="container-fluid">
  <div class="row">
    {% include "components/sidebar.html" %}
    <div class="col-sm-10" style="color: #212529" id="main">
      {% include "components/header.html" %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>

</html>