{% extends "base.html" %}

{% block content %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    This is a collection of <strong>Completed</strong> polls.<br>
    <br>For more information on the algorithm that determines the winner, please click
    <a style="color: #0c5460" href="{{ url_for('main.help') }}"><strong>here</strong></a>.
    {% if current_user.isAdmin %}
      <br><br>
      As an Admin User, you are able to <strong>Archive</strong> polls. Please click the
      <strong><i class="fa-fw fa fa-archive"></i> Archive Poll</strong> button to delete a poll.
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% if polls|length == 0 %}
    <div>There are no completed polls. Click here to create an active poll!</div>
  {% endif %}
  {% for poll in polls %}
    <div class="card">
      <div class="card-header">
        <strong>Poll: {{ poll.get_id() }}</strong>
        <span style="float:right" class="badge badge-pill badge-info">{{ poll.howManyResponses() }} Votes Casted</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ poll.title }}
        </h5>
        {{ poll.description }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Created At: </strong><span class="modify-time">{{ poll.createdAt }}</span>
        </li>
        <li class="list-group-item"><strong>Close At: </strong><span class="modify-time">{{ poll.closeAt }}</span></li>
        <li class="list-group-item"><strong>Created By: </strong>
          {% for user in users %}
            {% if user.userId == poll.createdByUserId %}
              {{ user.firstName }} {% if user.lastName %}{{ user.lastName }}{% endif %}
            {% endif %}
          {% endfor %}
        </li>
      </ul>
      {% if not current_user.is_anonymous %}
        <div class="card-body">
          <a href="{{ url_for('main.completed') }}/{{ poll.get_id() }}" class="btn btn-info"><i class="fa-fw fa fa-chart-bar"></i> View Results</a>
          {% if current_user.isAdmin %}
            <a href="{{ url_for('main.archive_poll') }}" class="btn btn-danger"><i class="fa-fw fa fa-archive"></i> Archive Poll</a>
            <a href="polls/{{ poll.get_id() }}/archive" class="btn btn-danger"><i class="fa-fw fa fa-archive"></i> Archive Votes</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <br>
  {% endfor %}
  <script>
    let timeElements = document.getElementsByClassName('modify-time');
    for (let i = 0; i < timeElements.length; i++) {
      let unformattedTime = timeElements[i].innerHTML;
      timeElements[i].innerHTML = moment.utc(unformattedTime, 'YYYY-MM-DD HH:mm:ss').local().format('DD/MM/YYYY HH:mm')
    }
  </script>
{% endblock %}