{% extends "base.html" %}

{% block content %}

  <div class="form-container">
    <form id="login-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div style="margin-left: 15%;">
        {{ form.title.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          {{ form.title(class="form-control", id='title', size=32, maxlength=50, oninput="countCharacters(50, 'title', 'title-counter')") }}
          <small style="float: right; margin-top: 5px" id="title-counter" class="text-muted">0 of 50 characters used.
          </small>
        </div>
      </div>
      <br>
      {% for error in form.title.errors %}
        <script>
          var formErrors = {% if error %}true;{% else %} false{% endif %};
          if (formErrors) {
            Notify("Username: {{error}}", null, null, 'danger');
          }
        </script>
        {# <span style="color: red;">[{{ error }}]</span> #}
      {% endfor %}
      <div style="margin-left: 15%;">
        {{ form.description.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          {{ form.description(class="form-control",id='description', size=32, maxlength=200, oninput="countCharacters(200, 'description', 'description-counter')") }}
          <small style="float: right; margin-top: 5px" id="description-counter" class="text-muted">0 of 200 characters
            used.
          </small>
        </div>
      </div>
      <br>
      {% for error in form.description.errors %}
        <script>
          var formErrors = {% if error %}true;{% else %} false{% endif %};
          if (formErrors) {
            Notify("Password: {{error}}", null, null, 'danger');
          }
        </script>
        {# <span style="color: red;">[{{ error }}]</span> #}
      {% endfor %}
      <div style="margin-left: 15%;">
        {{ form.choice.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            {{ form.choice(class="form-control", id='create-choice',size=32) }}
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="add-choice-button"><i class="fa-fw fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-left:15%">
        <div id="choice-title" style="font-weight:bold; margin-bottom: 10px">Choices <i class="fa fa-info-circle"></i>
        </div>
        <div id="submit-choices-container" style="width: 80%">
          {% for field in form.options %}
            <div class="input-group mb-3 choice-inputs">
              {{ field(class='form-control choice') }}
              <div class="input-group-append">
                <button class="btn btn-danger" type="button"><i class="fa-fw fa fa-times"></i></button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <br>
      <script>
        document.getElementById('choice-title').hidden = true;
        {#document.getElementById('submit-choices-container').hidden = true;#}
        {#Array.from(document.getElementsByClassName('poll-choice')).map(e => e.hidden = true);#}
        Array.from(document.getElementsByClassName('choice')).map(e => e.style.display = 'none');
        Array.from(document.getElementsByClassName('input-group mb-3 choice-inputs')).map(e => e.style.display = 'none');
        document.getElementById('add-choice-button').addEventListener('click', handleAdd);

        function handleAdd() {
          console.log('clicked');
          var createChoice = document.getElementById('create-choice');
          var choiceInputs = document.getElementsByClassName('input-group mb-3 choice-inputs');
          {#var listChoices = document.getElementsByClassName('poll-choice');#}
          var submitChoices = document.getElementsByClassName('choice');
          for (var i = 0; i < submitChoices.length; i++) {
            if (!submitChoices[i].value && createChoice.value) {
              document.getElementById('choice-title').hidden = false;
              {#listChoices[i].innerHTML = createChoice.value;#}
              {#listChoices[i].hidden = false;#}
              submitChoices[i].value = createChoice.value;
              submitChoices[i].style.display = 'block';
              choiceInputs[i].style.display = 'flex';
              createChoice.value = "";
              break;
            }
          }
        }
      </script>
      <div style="text-align: center;">
        {{ form.isOpen }} {{ form.isOpen.label }}
        {% for error in form.isOpen.errors %}

          <script>
            var formErrors = {% if error %}true;{% else %} false{% endif %};
            if (formErrors) {
              Notify("Open Poll: {{error}}", null, null, 'danger');
            }
          </script>
          {# <span style="color: red;">[{{ error }}]</span> #}
        {% endfor %}
        <br>
        <div id="button-container" style="margin-top: 10px; margin-bottom: 20px">
          <button type="button" class="btn btn-info" id="clear-button">
            Clear
          </button>
          <button type="button" class="btn btn-info" id="save-button">
            Save
          </button>
          {{ form.submit(class_="btn btn-info", id="submit-button") }}
        </div>
      </div>
      <p></p>
    </form>
  </div>
  <script type="text/javascript" src="static/javascript/create_form_storage.js"></script>
{% endblock %}