{% extends "base.html" %}

{% block content %}
  <div class="test">Test</div>
  <div>{{ poll.description}} </div>
  <div>{{ poll.get_rawResult(jsonPayload=True)}} </div>
  <div>{{ poll.get_rawResult(jsonPayload=False)}} </div>
  <div>{{ poll.get_prefResult(details=False)}} </div>
  <div>{{ poll.get_prefResult(details=False)}} </div>



  {% for field in form.preferences %}
    <span class="cardinal">{{ loop.index }}</span>
    {{ field.label }}{{ field(class="form-control") }}<br>
  {% endfor %}
{#  <div> {{ form.preferences }}</div>#}
  <script type="text/javascript" src="/static/javascript/ordinal.js"></script>
  <script>
    let cardinals = document.getElementsByClassName('cardinal');
    for(var i=0; i<cardinals.length; i++){
      cardinals[i].innerText = ordinalInWord(cardinals[i].innerText);
      console.log(cardinals[i])
    }
  </script>
  <div> {{ form.submit() }}</div>

{% endblock %}