{% extends "base.html" %}

{% block content %}

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Info')">General Info</button>
    <button class="tablinks" onclick="openTab(event, 'Polls')">My Polls</button>
  </div>

  <!-- Tab content -->
  {% include "/profile/info.html" %}

  {% include "/profile/my-polls.html" %}

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

{% endblock %}