{% extends "base.html" %}

{% block content %}

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Info')">My Info</button>
    <button class="tablinks" onclick="openTab(event, 'Settings')">Settings</button>
  </div>

  <!-- Tab content -->
   {% include "/profile/info.html" %}

  <div id="Settings" class="tabcontent" style="background-color: white">
    <!-- Inactive -->
    <h4 style="margin-top: 10px; margin-bottom: 20px">Settings</h4>

  </div>

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

{% endblock %}