{% extends "base.html" %}

{% block content %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    Already have an account? Click <a style="color: #0c5460"
                                      href="{{ url_for('auth.login') }}"><strong>here</strong></a> to log in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-container">
    <form id="register-form" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div style="margin-left: 15%; margin-top: 20px">
        <div style="width: 80%">
          <h4>General Information</h4>
          <hr>
        </div>
        {# Username #}
        {{ form.username.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-username"><i class="fa-fw fa fa-user-tag"></i></span>
            </div>
            {{ form.username(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {# Passwords #}
        {{ form.password.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-password1"><i class="fa-fw fa fa-key"></i></span>
            </div>
            {{ form.password(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {{ form.password2.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-password2"><i class="fa-fw fa fa-lock"></i></span>
            </div>
            {{ form.password2(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {# firstName #}
        {{ form.firstName.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-firstName"><i class="fa-fw fa fa-user"></i></span>
            </div>
            {{ form.firstName(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {# lastName #}
        {{ form.lastName.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-lastName"><i class="fa-fw fa fa-user"></i></span>
            </div>
            {{ form.lastName(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {# Email #}
        {{ form.email.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-email"><i class="fa-fw fa fa-at"></i></span>
            </div>
            {{ form.email(class="form-control", size=32, maxlength=128) }}
          </div>
        </div>
        {# Address #}
        <div style="width: 80%">
          <h4>Address</h4>
          <hr>
        </div>
        {{ form.ad_street.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-ad_street"><i class="fa-fw fa fa-address-card"></i></span>
            </div>
            {{ form.ad_street(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {{ form.ad_suburb.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-ad_suburb"><i class="fa-fw fa fa-address-card"></i></span>
            </div>
            {{ form.ad_suburb(class="form-control", size=32, maxlength=50) }}
          </div>
        </div>
        {{ form.ad_state.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" for="inputGroupSelect01" id="basic-addon-ad_state"><i class="fa-fw fa fa-address-card"></i></span>
            </div>
            {{ form.ad_state(id="inputGroupSelect01", class="custom-select") }}
          </div>
        </div>
        {{ form.ad_country.label(style="font-weight: bold") }}<br>
        <div style="width: 80%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" for="inputGroupSelect02" id="basic-addon-ad_country"><i class="fa-fw fa fa-globe"></i></span>
            </div>
            {{ form.ad_country(id="inputGroupSelect02", class="custom-select") }}
          </div>
        </div>
        <br>
        <div style="margin-left: 30%">
          {{ form.submit(class_="btn btn-info", id="submit-button") }}
        </div>
      </div>
    </form>
  </div>
  <br>
{% endblock %}