<div class="col-sm-2 px-1 bg-dark">
    <div class="py-2 sticky-top">
        <div class="nav flex-sm-column">
            <a href="{{ url_for('index') }}" class="nav-link d-none d-sm-inline">Fishing</a>
            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
            <a href="" class="nav-link">Link</a>
            <a href="" class="nav-link">Link</a>
            <a href="" class="nav-link">Link</a>
            <a href="" class="nav-link">Link</a>
        </div>
    </div>
</div>