{% extends "base.html" %}

{% block content %}
  <div class="alert alert-info" role="alert">
    As an <strong>Administrator</strong>, you are able to <strong>Archive</strong> and <strong>Create</strong> users. Please click below to
    perform
    an action.<br><br>
    <a class="btn btn-danger" href="{{ url_for('main.register') }}"><i class="fa-fw fa fa-plus"></i> Create User</a>
    <a class="btn btn-danger" href="{{ url_for('main.users') }}/archive"><i class="fa-fw fa fa-archive"></i> Archive User</a>
  </div>

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Active')">Active</button>
    <button class="tablinks" onclick="openTab(event, 'Inactive')">Inactive</button>
  </div>

  <!-- Active users tab -->
  {% include "/users/active.html" %}

  <div id="Inactive" class="tabcontent" style="background-color: white">
    <!-- Inactive -->
    <h4 style="margin-top: 10px; margin-bottom: 20px">Inactive Users</h4>

    <table id="table-inactive" class="display">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Tim French</td>
        <td>tim.french@uwa.edu.au</td>
      </tr>
      </tbody>
    </table>
  </div>

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

{% endblock %}