{% extends "base.html" %}

{% block content %}
  <div class="alert alert-info" role="alert">
    As an <strong>Administrator</strong>, you are able to <strong>Archive</strong> and <strong>Create</strong> users. Please click below to
    perform
    an action.<br><br>
    <a class="btn btn-danger" href="{{ url_for('main.users') }}/create"><i class="fa-fw fa fa-plus"></i> Create User</a>
    <a class="btn btn-danger" href="{{ url_for('main.users') }}/archive"><i class="fa-fw fa fa-archive"></i> Archive User</a>
  </div>

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Active')">Active</button>
    <button class="tablinks" onclick="openTab(event, 'Inactive')">Inactive</button>
  </div>

  <!-- Active users tab -->
  {% include "/users/active.html" %}

  {% include "/users/inactive.html" %}

  <br>

  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

{% endblock %}